h1 {
    background-color: black;
    color: rgba(255, 255, 255, 1);
    text-indent: 2%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
nav {
    float: right;
}
.video {
    display: block;
    text-align: center;
    width: auto;
}
.current_events {
    height: max-content;
    width: 80%;
    padding: 0% 1% 1% 1%;
    border-left-style: solid;
    height: 50%;
    display: block;
    flex-direction: column;
}
#login{
    text-align: center;
}
#user_id {
    text-align: right;
    margin-right: 42%;
}
#password {
    text-align: right;
    margin-right: 42%;
}
#settings{
    text-align: center;
}
footer {
    color:rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    margin-top: 5%;
    text-align: center;
    padding: 2%;
}
#email {
    color: greenyellow;
}
.news_buttons {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 1%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2%;
    cursor: pointer;
}
#news {
    text-align: center;
}
#map {
    text-align: center;
}
.setting_check {
    list-style-type:none;
    text-align: right;
    margin-right: 45%;
}