<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associated Press</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/login';">Login</button>
            <button onclick="window.location.href = '/settings';">Settings</button>
        </nav>
    </header>
    <main>
        <h1>Associated Press</h1>
        <section>
            <h2>Latest World News</h2>
            <div class="video">
                <figure>
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PLnwt1fUa-EVjvQTA2AaRuGkRN_RjXY-35"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <figcaption>Associated Press Breaking News</figcaption>
                </figure>
            </div>
            

            <div>
                <h2>Topics</h2>
                <form>
                    <ul class="setting_check">
                        <li>
                            <label for="select_current_events">Current Events</label>
                            <input type="checkbox" id="select_current_events">
                        </li>
                        <li>
                            <label for="select_technology">Technology</label>
                            <input type="checkbox" id="select_technology">
                        </li>
                        <li>
                            <label for="select_financial">Financial</label>
                            <input type="checkbox" id="select_financial">
                        </li>
                        <input class="btn" type="submit" value="Submit">
                    </ul>
                </form>
            </div>
            <div class="text">
                <h2>News Feed</h2>
                <div class="current_events">
                    <h3>Current Events</h3>
                    <a href="https://apnews.com/hub/trending-news" aria-label="Associated Press Trending News"> More
                        Current Events</a>
                    <ul>                    </ul>
                </div>
                <div class="technology">
                    <h3>Technology</h3>
                    <a href="https://apnews.com/hub/technology?utm_source=apnewsnav&utm_medium=navigation"
                        aria-label="Associated Press Technology News"> More Technology News</a>
                    <ul id="technology"></ul>
                </div>
                <%var my_api = api%> 
                <script defer>
                    let newsArticles;
                    const newsList = document.getElementById('technology');
                    const url = `https://newsapi.org/v2/everything?` +
                        `q=Technology&` +
                        `sources=associated-press&` + 
                        `apiKey=ebb6d4fb6dc5441cb4969abe0c250886`;
                    const req = new Request(url);
                    let data; 
                    fetch(req).then((res) => {    
                        return res.json();
                        }).then((data) => {
                            newsArticles = data;
                            // console.log(data);
                            data.articles.forEach(articles => {
                                let newsArticle = document.createElement('li');
                                let newsLink = document.createElement('a');
                                newsLink.setAttribute('href', articles.url);
                                // open in new tab
                                newsLink.setAttribute('target', '_blank');
                                newsArticle.textContent = articles.title;
                                newsLink.textContent = 'Link';
                                newsArticle.appendChild(newsLink);
                                newsList.appendChild(newsArticle);
                            })
                        })
                </script>
                <div class="financial">
                    <h3>Financial</h3>
                    <a href="https://apnews.com/hub/business?utm_source=apnewsnav&utm_medium=navigation "
                        aria-label="Associated Press Business News"> More Financial News</a>
                    <ul id="financial"></ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>