<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBC</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/login';">Login</button>
            <button onclick="window.location.href = '/settings';">Settings</button>
        </nav>
    </header>
    <main>
        <h1>BBC</h1>
        <section>
            <h2>Latest World News</h2>
            <div class="video">
                <figure>
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PLS3XGZxi7cBVTzEE4Sim9UuNKnUJq9Vkh"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>Video File Not supported by your browser.</iframe>
                    <figcaption>BBC Latest World News Youtube Playlist</figcaption>
                </figure>
            </div>
            <div class="text">
                <h2>News Feed</h2>
                <div class="current_events">
                    <h3>Current Events</h3>
                    <a href="https://www.bbc.com/news" aria-label="BBC Trending News"> More Current Events</a>
                    <ul>
                        <li>Covid may have killed 180k health workers - WHO <a
                                href="https://www.bbc.com/news/health-58973697"
                                aria-label="Continue to full story">Link</a></li>
                        <li>Respect the club rules, Poland told at EU summit <a
                                href="https://www.bbc.com/news/world-europe-58999963"
                                aria-label="Continue to full story">Link</a></li>
                    </ul>
                </div>
                <div class="technology">
                    <h3>Technology</h3>
                    <a href="https://www.bbc.com/news/technology" aria-label="BBC Technology Page"> More Technology News</a>
                    <ul>
                        <li>Trump to launch rival to social media giants <a
                                href="https://www.bbc.com/news/world-us-canada-58990330"
                                aria-label="Continue to full story">Link</a></li>
                        <li>Romance scam suspects defrauded 100 women - FBI <a
                                href="https://www.bbc.com/news/world-africa-58978287"
                                aria-label="Continue to full story">Link</a></li>
                    </ul>
                </div>
                <div class="financial">
                    <h3>Financial</h3>
                    <a href="https://www.bbc.com/news/business" aria-label="BBC Business Page"> More Financial News</a>
                    <ul>
                        <li>Amazon sees fresh push to unionise in New York <a
                                href="https://www.bbc.com/news/business-59000574"
                                aria-label="Continue to full story">Link</a></li>
                        <li>Evergrande shares plunge as trading resumes <a
                                href="https://www.bbc.com/news/business-58976991"
                                aria-label="Continue to full story">Link</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>