<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/login';">Login</button>
            <button onclick="window.location.href = '/settings';">Settings</button>
        </nav>
    </header>
    <main>
        <h1>CNN</h1>
        <section>
            <h2>Latest World News</h2>
            <div class="video">
                <figure>
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PL6XRrncXkMaW5p7muaR2s2IqjouQh4jqS"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>Video File Not supported by your browser.</iframe>
                    <figcaption>CNN World News Youtube Playlist</figcaption>
                </figure>
            </div>
            <div>
                <h2>Topics</h2>
                <form>
                    <ul class="setting_check">
                        <li>
                            <label for="select_current_events">Current Events</label>
                            <input type="checkbox" id="select_current_events">
                        </li>
                        <li>
                            <label for="select_technology">Technology</label>
                            <input type="checkbox" id="select_technology">
                        </li>
                        <li>
                            <label for="select_financial">Financial</label>
                            <input type="checkbox" id="select_financial">
                        </li>
                        <input class="btn" type="submit" value="Submit">
                    </ul>
                </form>
            </div>
            <!-- <div class="text">
                <h2>News Feed</h2>
                <div class="current_events">
                    <h3>Current Events</h3>
                    <a href="https://us.cnn.com/?refresh=1" aria-label="CNN Trending News"> More Current Events</a>
                    <ul>
                        <li>Trump ally Steve Bannon held in criminal contempt <a
                                href="https://www.cnn.com/politics/live-news/steven-bannon-contempt-charge-vote-10-21-21/index.html" aria-label="Continue to full story">Link</a>
                        </li>
                        <li>UK government accused of being 'willfully negligent' as Covid cases mount <a
                                href="https://www.cnn.com/2021/10/21/uk/uk-covid-bma-warning-gbr-intl/index.html" aria-label="Continue to full story">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="technology">
                    <h3>Technology</h3>
                    <a href="https://www.cnn.com/business/tech" aria-label="CNN Technology News"> More Technology News</a>
                    <ul>
                        <li>Facebook kept its own oversight board in the dark on program for VIP users <a
                                href="https://www.cnn.com/2021/10/21/tech/facebook-cross-check-oversight-board/index.html" aria-label="Continue to full story">Link</a>
                        </li>
                        <li>The Irish app letting people take 3D videos on an iPhone <a
                                href="https://www.cnn.com/2021/10/20/tech/volograms-volu-app-ireland-spc-intl/index.html" aria-label="Continue to full story">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="financial">
                    <h3>Financial</h3>
                    <a href="https://www.cnn.com/business" aria-label="CNN Business News"> More Financial News</a>
                    <ul>
                        <li>After a pair of scandals, Fed bans officials from buying stocks <a
                                href="https://www.cnn.com/2021/10/21/investing/fed-bans-officials-stocks/index.html" aria-label="Continue to full story">Link</a>
                        </li>
                        <li>Tesla's 'full self-driving' rolls back its privacy protection of trip videos <a
                                href="https://www.cnn.com/2021/10/21/cars/tesla-fsd-privacy/index.html" aria-label="Continue to full story">Link</a></li>
                    </ul>
                </div>
            </div> -->
        </section>
    </main>
    <script defer>
        var url = 'https://newsapi.org/v2/top-headlines?' +
            'sources=cnn&' +
            'apiKey=ebb6d4fb6dc5441cb4969abe0c250886';
  var req = new Request(url);
  fetch(req)
      .then(function(response) {
          console.log(response.json());
      })
      </script>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>

</html>