<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../../public/css/stylesheet.css">
    <link rel="shortcut icon" href="../../public/media/picture/Picture1.svg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <button onclick="window.location.href = '/';">My Home Page</button>
            <button onclick="window.location.href = '/login';">Login</button>
            <button onclick="window.location.href = '/settings';">Settings</button>
            <button onclick="window.location.href = '/search';">Search</button>
        </nav>
    </header>
    <main>
        <h1>Search For News</h1>
        <form action="/search/" method="post">
            <input type="text" name="userSearch" id="userSearch">
            <button type="submit">Submit</button>
        </form>
        <h2>
            <%= `Here are the search results for ${urSearch}`%>
        </h2>
        <ul id="searchResults"></ul>
    </main>
    <footer>
        &copy;2021, William Eng
        <br>
        Contact Us
        <address>
            <a id="email" href="mailto:weng2@oakland.edu">Email</a>
        </address>
    </footer>
</body>
<script defer>
    let newsArticlesList = <%-JSON.stringify(newsArticles)%>;
    const newsList = document.getElementById('searchResults');
    console.log(newsArticlesList);
    // const url = `https://newsapi.org/v2/everything?` +
    //     `q=Technology&` +
    //     `sources=associated-press&` +
    //     `apiKey=e5b6885d442e4232a387c52ea87f6f45`;
    // const req = new Request(url);
    // fetch(req).then((res) => {
    //     return res.json();
    // }).then((data) => {
    //     newsArticlesList = data;
    //     // console.log(data);
        newsArticlesList.articles.forEach(articles => {
            let newsArticle = document.createElement('li');
            let newsLink = document.createElement('a');
            newsLink.setAttribute('href', articles.url);
            // open in new tab
            newsLink.setAttribute('target', '_blank');
            newsArticle.textContent = articles.title;
            newsLink.textContent = 'Link';
            newsArticle.appendChild(newsLink);
            newsList.appendChild(newsArticle);
        })
    })
</script>

</html>